<!DOCTYPE html>
<html>
  <head>
    <%- include("layout/head", { title: `Tim san pham cho tu khoa: ${q}` }) %>
    <link rel="stylesheet" href="css/search.css" />
  </head>

  <body>
    <!--	Header	-->
    <%- include("layout/header") %>
    <!--	End Header	-->

    <!--	Body	-->
    <div id="body">
      <div class="container">
        <div class="row">
          <%- include("layout/menu") %>
        </div>
        <div class="row">
          <div id="main" class="col-lg-8 col-md-12 col-sm-12">
            <!--	Slider	-->
            <div id="slide" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <%- include("layout/slider") %>
            </div>
            <!--	End Slider	-->

            <div class="products">
              <div id="search-result">
                Kết quả tìm kiếm với sản phẩm <span><%=q%></span>
              </div>

              <div class="product-list card-deck">
                <% for (let product of products) { %> <%-
                include("components/product-item", {product}) %> <% } %>
              </div>
            </div>
            <!--	End List Product	-->

            <div id="pagination">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Trang trước</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Trang sau</a>
                </li>
              </ul>
            </div>

            <!-- Main content -->
          </div>

          <div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
            <%- include("layout/sidebar") %>
          </div>
        </div>
      </div>
    </div>
    <!--	End Body	-->

    <!--	Footer	-->
    <%- include("layout/footer")%>
    <!--	End Footer	-->
  </body>
</html>
