<% let totalPrice = 0 %> <% for (let product of products) { %> <% cart =
miniCart.find(item => item.id === product.id) %> <% totalPrice+=
(product.prd_price * cart.qty) %>
<div class="cart-item row">
  <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
    <img src="/assets/images/products/<%= product.prd_image %>" />
    <h4><%= product.prd_name %></h4>
  </div>

  <div class="cart-quantity col-lg-2 col-md-2 col-sm-12">
    <input
      type="number"
      data-id="<%= product._id %>"
      class="form-control form-blue quantity"
      value="<%= cart.qty %>"
    />
  </div>
  <div class="cart-price col-lg-3 col-md-3 col-sm-12">
    <b><%= formatPrice(product.prd_price * cart.qty) %></b
    ><a href="#" data-id="<%= product._id %>" class="delete-cart-item">Xóa</a>
  </div>
</div>
<% } %>

<div class="row">
  <div class="cart-thumb col-lg-7 col-md-7 col-sm-12">
    <button id="delete-cart-all" class="btn btn-danger btn-lg">
      Xóa giỏ hàng
    </button>
  </div>
  <div class="cart-total col-lg-2 col-md-2 col-sm-12">
    <b>Tổng cộng:</b>
  </div>
  <div class="cart-price col-lg-3 col-md-3 col-sm-12">
    <b><%= formatPrice(totalPrice) %></b>
  </div>
</div>
